<!DOCTYPE html>


<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Card Stats</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div align = "center">
            <h1>All Card Statistics</h1>
            <table border="0" cellpadding="8">
            		<tr>
						<td>Successful Check:</td>
						<td th:text="${response.success}"><td/>
					<tr/>
					<tr>
						<td>Start:</td>
						<td th:text="${response.start}"><td/>
					<tr/>
					<tr>
						<td>Limit:</td>
						<td th:text="${response.limit}"><td/>
					<tr/>
					<tr>
						<td>Size:</td>
						<td th:text="${response.size}"><td/>
					<tr/>
					<td>payload:  {</td>
					<tr th:each="entry : ${map}">
						<td th:text="${entry.key}"></td>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<td th:text="${entry.value}"></td>
					<tr/>
					<td> }</td>
			</table>
        </div>
    </body>
</html>