<!DOCTYPE html>


<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Card Stats</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div align = "center">
            <h1>All Card Statistics</h1>
            <table border="0" cellpadding="8">
            		<tr>
						<td>Check Status:</td>
						<td th:text="${response.success}"><td/>
					<tr/>
					<tr>
						<td>Start:</td>
						<td th:text="${response.start}"><td/>
					<tr/>
					<tr>
						<td>Limit:</td>
						<td th:text="${response.limit}"><td/>
					<tr/>
					<tr>
						<td>Size:</td>
						<td th:text="${response.size}"><td/>
					<tr/>
					<td>payload:  {</td>
					<table border="0" cellpadding="10">
			                <thead>
			                    <tr>
			                        <th>Card Number</th>      
			                        <th>Hits</th>                        
			                    </tr>     
			                </thead> 
			                <tbody>
			                	<tr th:each="entry : ${map}">
									<td th:text="${entry.key}"></td>
									<td th:text="${entry.value}"></td>
								<tr/>
			                <tbody/>
			           <table/>
					<td> }</td>
			</table>
        </div>
    </body>
</html>